

<div class="container">
  <div class="col-md-12">
    <div class="jumbotron ">
      <div class="container" align="center" >
        
        <h1 class="jumbo-title ">Eat-Da-Burger!</h1>
      </div>
    </div>
  </div>
  
  
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Burgers ready to eat!</h4>
            <hr>
            <ul class="list-unstyled">
              {{#each burgers}}
              {{#unless sleepy}}
              
              "hello"
              {{/unless}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
<img class="col-md-12" class="img" src="assets/images/burger.png" alt="Card image cap">    
  </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Devoured Burgers!</h4>
            <hr>
            <ul class="list-unstyled">
              {{#each burgers}}
              {{#if sleepy}}

              {{> burgers/burger-block}}
              {{/if}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
     
    </div>
  </div>
<h2>Add a Dream Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
  <button type="submit">Add Burger</button>
  </div>

</form>
</div>